%div.tags
  %div.head= link_to "tags:", tags_path
  %div.item
    = link_to  "%05d :: " % Tag.missing_notes.count + "∅", tag_path(0)
  - @tags.each do |tag|
    %div.item
      = link_to   "%05d :: " % tag.notes.count + tag.name, tag_path(tag)
