// http://colorschemedesigner.com

$color01: #FF9000; // dark orange
$color02: #FFBE00; // dark yellow
$color03: #FF4500; // dark red
$color04: #0A64A4; // dark blue
$color05: #FFBC64; // light orange
$color06: #FFD764; // light yellow
$color07: #FF8E64; // light red
$color08: #65B4EB; // light blue
$color09: #333333; // black
$color10: #D3D3D3; // grey
$color11: #F3F3F3; // white
