@import "colors";
@import "fonts";
@import "styles";

.notes
{
  @include form;
  @include head;
  @include item;
  @include nav;

  .title
  {
    margin-bottom: 25px;
    a{@include font03($color09, 21px, 23px, 1px, none)};
  }

  .body
  {
    margin-bottom: 25px;
    @include font06($color09, 14px, 24px, 0px, none);
  }

  .meta
  {
    margin-top: 25px;
    margin-bottom: 5px;
    @include font04($color04, 23px, 25px, 1px, none);
  }
}
