@import "colors";
@import "fonts";
@import "styles";

.notes
{
  @include form;
  @include head;
  @include item;
  @include nav;

  .title
  {
    margin-bottom: 5px;
    a{@include font03($color09, 21px, 23px, 1px, none)};
  }

  .date
  {
    @include font06($color09, 10px, 1.4em, 0px, none);
    margin-bottom: 25px;
  }

  .body
  {
    margin-bottom: 25px;
    @include font07($color09, 12px, 1.4em, 0px, none);
  }

  .meta
  {
    clear: both;
    margin-top: 25px;
    margin-bottom: 5px;
    @include font04($color04, 23px, 25px, 1px, none);
  }

  .image
  {
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: $color05;
    border: 1px solid $color01;
  }

  .map
  {
    width: 350px;
    height: 350px;
    float: left;
    clear: left;
    margin: 10px;
    border: 3px double $color04;
  }

  .legend
  {
    overflow: auto;
    float: left;
    width: 350px;
    height: 330px;
    margin: 10px;
    padding: 10px;
    background-color: $color08;
    border: 3px double $color04;
    @include font07($color11, 12px, 1.4em, 0px, none);
  }

  .end
  {
    clear: both;
  }
}
