@import "colors";
@import "fonts";
@import "styles";

.notes
{
  @include form;
  @include head;
  @include item;
  @include nav;

  .title
  {
    margin-bottom: 25px;
    a{@include font03($color09, 21px, 23px, 1px, none)};
  }

  .body
  {
    margin-bottom: 25px;
    @include font07($color09, 12px, 1.4em, 0px, none);
  }

  .meta
  {
    clear: both;
    margin-top: 25px;
    margin-bottom: 5px;
    @include font04($color04, 23px, 25px, 1px, none);
  }

  .image
  {
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: $color05;
    border: 1px solid $color01;
  }
}
